GroupProject/bin/Debug/net6.0/GroupProject.dll
GroupProject/bin/Debug/net6.0/GroupProject.exe
GroupProject/bin/Debug/net6.0/GroupProject.pdb
GroupProject/bin/Debug/net6.0/GroupProject.staticwebassets.runtime.json

GroupProject/obj/project.assets.json
GroupProject/obj/project.nuget.cache
GroupProject/obj/Debug/net6.0/apphost.exe
GroupProject/obj/Debug/net6.0/GroupProject.assets.cache
GroupProject/obj/Debug/net6.0/GroupProject.csproj.AssemblyReference.cache
GroupProject/obj/Debug/net6.0/GroupProject.csproj.CoreCompileInputs.cache

GroupProject/obj/Debug/net6.0/GroupProject.dll
GroupProject/obj/Debug/net6.0/GroupProject.GeneratedMSBuildEditorConfig.editorconfig
GroupProject/obj/Debug/net6.0/GroupProject.genruntimeconfig.cache
GroupProject/obj/Debug/net6.0/GroupProject.pdb
GroupProject/obj/Debug/net6.0/staticwebassets.build.json
GroupProject/obj/Debug/net6.0/staticwebassets.development.json
GroupProject/obj/Debug/net6.0/staticwebassets.pack.json
GroupProject/obj/Debug/net6.0/ref/GroupProject.dll
GroupProject/obj/Debug/net6.0/refint/GroupProject.dll
GroupProject/obj/Debug/net6.0/staticwebassets/msbuild.GroupProject.Microsoft.AspNetCore.StaticWebAssets.props
GroupProject/obj/project.assets.json
.vscode/tasks.json
GroupProject/obj/Debug/net6.0/project.razor.vscode.bin
GroupProject/.vs/GroupProject/DesignTimeBuild/.dtbcache.v2
GroupProject/.vs/GroupProject/v17/.suo
GroupProject/obj/Debug/net6.0/project.razor.vscode.bin
.vscode/launch.json
GroupProject/.vs/GroupProject/v17/.futdcache.v2
GroupProject/.vs/ProjectEvaluation/groupproject.metadata.v7.bin
GroupProject/.vs/ProjectEvaluation/groupproject.projects.v7.bin
GroupProject/obj/Debug/net6.0/project.razor.vs.json
/GroupProject/.vs/GroupProject/FileContentIndex/b80afe7e-0432-43e6-b576-f085a0d2bb5c.vsidx

GroupProject/.vs/GroupProject/FileContentIndex/9501ed01-ec2e-49ad-afcf-c486d9815044.vsidx
GroupProject/.vs/GroupProject/FileContentIndex/64073d16-9d50-40be-b89a-dd32eb0befe2.vsidx
GroupProject/.vs/GroupProject/FileContentIndex/fc0de7f6-6731-4ecf-b082-365a8bca2724.vsidx
GroupProject/.vs/GroupProject/FileContentIndex/ff5ea24e-a2c6-4e48-ad78-e41f318ec62c.vsidx
GroupProject/.vs/GroupProject/FileContentIndex/read.lock
GroupProject/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
GroupProject/obj/Release/net6.0/GroupProject.AssemblyInfo.cs
GroupProject/obj/Release/net6.0/GroupProject.AssemblyInfoInputs.cache
GroupProject/obj/Release/net6.0/GroupProject.assets.cache
GroupProject/obj/Release/net6.0/GroupProject.csproj.AssemblyReference.cache
GroupProject/obj/Release/net6.0/GroupProject.GeneratedMSBuildEditorConfig.editorconfig
GroupProject/obj/Release/net6.0/GroupProject.GlobalUsings.g.cs
GroupProject/obj/Release/net6.0/GroupProject.RazorAssemblyInfo.cache
GroupProject/obj/Release/net6.0/GroupProject.RazorAssemblyInfo.cs

GroupProject/bin/Debug/net6.0/GroupProject.dll
GroupProject/bin/Debug/net6.0/GroupProject.pdb
GroupProject/bin/Debug/net6.0/GroupProject.staticwebassets.runtime.json
GroupProject/obj/Debug/net6.0/ref/GroupProject.dll
GroupProject/obj/Debug/net6.0/staticwebassets/msbuild.GroupProject.Microsoft.AspNetCore.StaticWebAssets.props
GroupProject/obj/Debug/net6.0/GroupProject.dll
GroupProject/obj/Debug/net6.0/staticwebassets.development.json
GroupProject/obj/Debug/net6.0/staticwebassets.pack.json
GroupProject/obj/Debug/net6.0/refint/GroupProject.dll
GroupProject/obj/Debug/net6.0/GroupProject.pdb
GroupProject/obj/Debug/net6.0/staticwebassets.build.json
.vs/VSWorkspaceState.json
