@{
    ViewData["Title"] = "CG";
}
<div class="card_CGbig">
    <div class="container">
        <div class="row">
            <div class="col-sm-4_CG">
                <div class="card_aboutmeCG">
                    <div class="card-bodyCG">
                        <h5 class="card-titleCG">About Me</h5>
                        <p class="card-textCG">
                            I am currently a college student looking for expierence and new oppertunities to
                            improve my skills as a software developer. I have a passion for creating projects
                            and finding new ways to improve them. Outside of my career, I enjoy creating my
                            own world using the 5e Dungeons and Dragons system, and spending time with family
                            and friends.

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4_CG">
                <div class="card resume-cardCG">
                    <div class="card-bodyCG">
                        <h5 class="card-titleCG">Resume</h5>
                        <a href="~/images/cody_gividen_resume_11_6_2023.pdf" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4_CG">
                <div class="card github-cardCG">
                    <div class="card-bodyCG">
                        <h5 class="card-titleCG">GitHub Repositories</h5>
                        <a href="https://github.com/CodyGividen?tab=repositories" target="_blank" class="btn btn-primary">GitHub Link</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4_CG">
                <div class="card projects-cardCG">
                    <div class="card-bodyCG">
                        <h5 class="card-titleCG">Projects</h5>
                        <ul class="card-textCG">
                            <li><a class="Java Guessing Game" href="https://github.com/CodyGividen/GuessingGame">Java Guessing Game</a></li>
                            <li><a class="Simple Task Manager" href="https://github.com/CodyGividen/TaskManager">Simple Task Manager</a></li>
                            <li><a class="Model Car Game" href="https://github.com/CodyGividen/ModelACarGame">Model Car Game</a></li>
                            <li><a class="Basic Weather App" href="https://github.com/CodyGividen/WeatherAppAndroid">Basic Weather App</a></li>
                            <li><a class="Pokemon Library" href="https://github.com/CodyGividen/PokemonLibrary">Pokemon Library</a></li>
                            <li><a class="Video Game Library" href="https://github.com/CodyGividen/VideoGameLibrary">Video Game Library</a></li>
                            <li><a class="Trivia App" href="https://github.com/CodyGividen/TriviaApp">Trivia App</a></li>
                            <li><a class="Task Manager App" href="https://github.com/CodyGividen/FinalProjectTaskManger">Task Manager App</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-4_CG">
                <div class="card hobby-cardCG">
                    <div class="card-bodyCG">
                        <h5 class="card-titleCG">Hobbies and Downtime Activities</h5>
                        <ul class="card-textCG">
                            <li>Computer Gaming</li>
                            <li>Coding</li>
                            <li>Dungeons and Dragons(DND)</li>
                            <li>Creating My DND Homebrew World</li>
                            <li>DND Miniature Collecting and Painting</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>