
@{
    ViewData["Title"] = "CW";
}

<body_cw>
    <div class="column_cw">
        <h1_cw>About Me</h1_cw>
        <img class="profile-image_cw" src="~/images/rookie.png" alt="Cristie Washington">
        <p_cw>I am a BACS student who is
            <span class="sparkles_cw">passionate</span> 
            about all things dogs, and family. I originally started out studying nursing at 
             but after completing most of my degree there I discovered my love for technology and changed my major to 
            <span class="sparkles_cw">Computer Science</span>. I grew up in Hopedale, MA,
            but after marrying a Combat Medic in the Army, we were relocated to Louisville.
            I spend much of my time studying web development, taking care of rescue dogs, and training for 5k's.
            My goal is to become confident in my self and my skills.
        </p_cw>
    </div>

    <div class="column_cw">
        <h1_cw>My Projects</h1_cw>
        <div class="project-block_cw">
            <a href="https://salonpro.me/publiclanding" class="project-link_cw">Everest Salon Pros</a>
            
        </div>
       
        <!-- Add more project blocks as needed -->
    </div>

    <div class="resume-column_cw">
        <h1_cw>My Resume</h1_cw>
        <a href="your-resume.pdf">
            <img class="resume_cw" src="~/images/resume_cw.png" alt="Resume">
        </a>
    </div>
</body_cw>
