@{
    ViewData["Title"] = "JR";
}
<div class="about-me-jr-wrapper">
    <div class="card_jrbig">
        <div class="container_jr">
            <div class="row_jr">
                <div class="col-sm-4_jr">
                    <div class="card_aboutmeJR">
                        <div class="card-body_jr">
                            <h5 class="card-title_jr">About Me</h5>
                            <p class="card-text_jr">I am a software developer with a passion for learning and creating and have been working in the software industry for the past year. I am always looking for new opportunities to learn and grow as a developer. Outside of my career, I live in Louisville, KY with my girlfriend, and we have 4 cats and 2 dogs. A passion of mine is to live life to the fullest and not miss out on anything!</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4_jr">
                    <div class="card_resumeJR">
                        <div class="card-body_resumeJR">
                            <h5 class="card-title_resumeJR">Resume</h5>
                            <a href="~/images/JR_Resume.png" class="btn_jr">View</a>
                            <img src="~/images/JR_Resume.png" class="img-fluid_jr" alt="My Resume">
                        </div>
                    </div>
                </div>
                <div class="col-sm-4_jr">
                    <div class="card_githubJR">
                        <div class="card-body_githubJR">
                            <h5 class="card-title_githubJR">GitHub</h5>
                            <a href="https://github.com/JordanKRich" target="_blank" class="btn_github_jr">Visit my GitHub profile!</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row_proficienciesJR">
                <div class="col-sm-4_proficienciesJR">
                    <div class="card_proficienciesJR">
                        <div class="card-body_proficienciesJR">
                            <h5 class="card-title_proficienciesJR">Language Proficiencies</h5>
                            <ul class="card-text_proficienciesJR">
                                <li>Python #1</li>
                                <li>C++ #2</li>
                                <li>SQL #2</li>
                                <li>Rust #3</li>
                                <li>Mojo #3</li>
                                <li>HTML #3</li>
                                <li>CSS #3</li>
                                <li>JavaScript #3</li>
                                <li>C# #4</li>
                                <li>.NET Core #4</li>
                                <li>ASP.NET Core #4</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8_jr">
                    <div class="slideshow-container_jr">
                        <div class="mySlides fade">
                            <img src="~/images/test1.png" style="width:100%">
                        </div>
                        <div class="mySlides fade">
                            <img src="~/images/test2.png" style="width:100%">
                        </div>
                        <div class="mySlides fade">
                            <img src="~/images/test3.png" style="width:100%">
                        </div>
                        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                        <a class="next" onclick="plusSlides(1)">&#10095;</a>
                    </div>
                </div>
            </div>    
        </div>
    </div>
</div>
