@{
    ViewData["Title"] = "JR";
}
<div class = "card_jrbig">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="card_aboutmeJR">
                    <div class="card-bodyJR">
                        <h5 class="card-titleJR">About Me</h5>
                            <p class="card-textJR">I am a software developer with a passion for learning and creating and 
                            have been working in the software industry for the past year. 
                            I am always looking for new opportunities to learn and grow as a developer. 
                            Outside of my career, I live in Louisville, KY with my girlfriend, and we have 4 cats and 2 dogs.
                            A passion of mine is to live life to the fullest and not miss out on anything!</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card resume-card">
                    <div class="card-body">
                        <h5 class="card-title">Resume</h5>
                        <a href="~/images/JR_Resume.png" class="btn btn-primary">View</a>
                            <img src="~/images/JR_Resume.png" class="img-fluid" alt="My Resume">
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card github-card">
                    <div class="card-body">
                        <h5 class="card-title">GitHub</h5>
                        <a href="https://github.com/JordanKRich" target="_blank" class="btn btn-primary">Visit my GitHub profile!</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="card proficiencies-card">
                    <div class="card-body">
                        <h5 class="card-title">Language Proficiencies</h5>
                        <ul class="card-text">
                            <li>Python #1</li>
                            <li>C++ #2</li>
                            <li>SQL #2</li>
                            <li>Rust #3</li>
                            <li>Mojo #3</li>
                            <li>HTML #3</li>
                            <li>CSS #3</li>
                            <li>JavaScript #3</li>
                            <li>C# #4</li>
                            <li>.NET Core #4</li>
                            <li>ASP.NET Core #4</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
```
