@{
    ViewData["Title"] = "ZB";
}

<!DOCTYPE html>
<html>

<head>
    <link href="~/css/zachsite.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="wrapper">
        <div class="about_me">
            <h5>About me</h5>
            <p> I am a junior at the University of Louisville majoring in Computer Science and Data Analytics. I am
                passionate about leveraging technology to solve real-world problems and have a keen interest in Python
                development and statistical analysis.
            </p>
        </div>
        <div class="resume">
            <h5>Resume</h5>
            <a href="~/images/zachballard_resume.png" class="link_resume_zb">View</a>
            <img src="~/images/zachballard_resume.png" class="img_resume_zb" alt="My Resume">
        </div>
        <div class="skills">
            <h5> Main Skills</h5>
            <ul>
                <li>Python</li>
                <li>C/C++</li>
                <li>SQL</li>
                <li>Java Script</li>
            </ul>
        </div>
        <div class="projects">

            <h5>Projects</h5>
            <dl>
                <dt>Music Discord Bot</dt>
                <dd>Allows the user to play songs based on user input as well as skip and queue songs of their choice.
                    Developed in python using
                    both API’s and FFmpeg packages. FFmpeg was used for audio playback and encoding and decoding files.
                    APIs were used to
                    access and retrieve information about songs, artists, and playlists. </dd>
                <dt>Mystery Story Game</dt>
                <dd>The game was based on user input and allowed the user to use clues to go through and solve the
                    story. Developed in C/C++, the
                    development of the game required a deep understanding of both switch statements and loops to allow
                    each user to have a unique
                    experience.</dd>
                <dt>Call Out Tracking System</dt>
                <dd>Application allows managers to give points and descriptions about each employee to keep track of
                    employee performance. A full
                    stack application, using Django and MySQL. </dd>

            </dl>
        </div>


    </div>
</body>

</html>
